<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daria Korobenko</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" href="../static/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap"
          rel="stylesheet">
</head>
<body>

    <div class="top-container">
        <h1>My name is Daria</h1>
        <h2>SRE Intern</h2>
        <img class="bottom-cloud" src="../static/cloud.png">
        <img class="mountain-image" src="../static/mountain.png">
    </div>

    <div class="middle-container">
  <div class="profile">
    <h2>Hi and welcome to my personal page!</h2>
    <p>I ♥️ tea and enjoy travelling</p>
  </div>
  <hr>
  <div class="skills">
    <h2>My Skills</h2>
    <div class="skill-row">
      <img class="webdev-photo" src="https://cdn-icons-png.flaticon.com/512/5431/5431676.png" alt="webdev-image">
      <h3>Incident & Problem Management</h3>
      <p>I have experience in conducting root cause analysis for critical and reoccurring incidents and coordinating activities to prevent incidents from happening again.</p>
    </div>
    <div class="skill-row">
      <img class="python-photo" src="https://cdn-icons-png.flaticon.com/512/2621/2621053.png" alt="python-image">
      <h3>Programming</h3>
      <p>I have used <b>Python</b>, <b>Java</b> and <b>C++</b> for university projects.</p>
    </div>
    <div class="skill-row">
      <img class="sql-photo" src="https://cdn-icons-png.flaticon.com/512/4492/4492311.png" alt="sql-image">
      <h3>Other Skills</h3>
      <p>I have utilized SQL both at my university and workplace. I have basic knowledge of <b>DevOps</b> tools like <b>Terraform</b>, <b>Docker</b>, <b>Github</b> and </b>Atlassian stack</b>.</p>
    </div>
  </div>
</div>
    <div class="bottom-container">
  <a class="footer-link" href="https://www.linkedin.com/in/daria-korobenko-101/">Linkedin</a>
  <a class="footer-link" href="https://www.instagram.com/dasha_korobenko/">Instagram</a>
  <p>© 2023 Daria Korobenko</p>
    </div>
</body>
</html>